**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/node_modules/
**/*.user
**/*.tmp
**/coverage/
**/TestResults/
**/packages/
**/.git/
**/.gitignore
**/README.md
**/docs/
**/Migrations/
**/Tests/
**/*.http
**/*.md
